* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

}

.container {
    max-width: 80%;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: auto;
    margin-left: auto;


}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.d-flex {
    display: flex;
}

.justify {
    justify-content: space-between;
}

.px-29 {
    padding-left: 29px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.pt-top {
    padding-top: 199px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

@media (min-width:576px) {
    .col_6_sm {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
    }
}

@media (min-width:768px) {
    .col_4_md {
        width: 33.3%;
        padding-right: 12px;
        padding-left: 12px;
    }
}

@media (min-width:992px) {
    .col_3_lg {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }
}